.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.loginLogo {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
}

.loginContainer {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.loginContainer > h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}
.loginContainer h5 {
  margin: 0;
  margin-bottom: 5px;
}

.loginContainer > form {
  margin-bottom: 5px;
}
.loginContainer > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.loginContainer > p {
  margin-top: 15px;
  margin-bottom: 12px;
}

.loginSigninButton {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}
